---
import { Image } from 'astro:assets';
import Tags from './Tags.astro';

interface Props {
	url?: string;
	alt?: string;
	img_url: string;
	title?: string;
	tags: string[];
	children?: HTMLElement | HTMLElement[];
}

const {
	url = '#',
	img_url = undefined,
	alt = 'Project image',
	title = 'Project title',
	tags = ['Tags'],
} = Astro.props;
---

<section class="w-full">
	<article
		data-testId="card"
		class="rounded-xl bg-white dark:bg-gray-900 p-3 duration-100 hover:scale-105 hover:transform"
	>
		<a href={url} target="_blank" aria-label="link to project">
			<div class="relative flex items-end overflow-hidden rounded-xl bg-gray-50 dark:bg-gray-800">
				<Image
					src={img_url}
					alt={alt}
					format="png"
					width={320}
					height={256}
					loading="eager"
					class="h-64 w-full object-contain"
				/>
			</div>
			<div class="mt-1 p-2">
				<h3 class="text-xl text-orange lg:text-2xl">{title}</h3>
				<Tags tags={tags} />
			</div>
		</a>
	</article>
</section>
